[user]
        email = 
        name = 

[core]
        excludesfile = ~/.gitignore_global
        ignorecase = false
        editor = vim

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto

[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        lol = log --abbrev-commit --graph --decorate --all --pretty=oneline
        empty = commit --allow-empty -m "Empty-Commit"
        end = "!f() {BRANCH=`git symbolic-ref --short HEAD` && git co master && git pull && git br -d $BRANCH; }; f"

[pull]
    rebase = false
    ff = only

[push]
    default = current

[pager]
        branch = false
