[user]
        email = 
        name = 

[core]
        excludesfile = ~/.gitignore_global
        ignorecase = false
        editor = vim

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto

[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        lol = log --abbrev-commit --graph --decorate --all --pretty=oneline

[pull]
    rebase = false
    ff = only

[push]
    default = current

[pager]
        branch = false
